<!DOCTYPE html>
<html>
<head>
  <title>Rails Bones!</title>
  <meta charset="UTF-8">
  <!-- LIBRARIES -->
  <script type="text/javascript" src="libraries/jquery.js"></script>
  <script type="text/javascript" src="libraries/underscore.js"></script>
  <script type="text/javascript" src="libraries/backbone.js"></script>

  <!-- DINO TEMPLATES -->
  <script type="text/template" class="dino-template">
    <strong><%- name %></strong>: is a <%- size %> <%- species %>
    <button data-action="delete">Delete Dino</button>
    <button data-action="edit">Edit Dino</button>
    <button data-action="add-bone">Add Bone</button>
    <ul class="bone-list">
    </ul>
  </script>

  <script type="text/template" class="edit-dino-template">
    <form class=".edit-form">
      <input class="edit-name" type="text" value="<%- name %>">
      <input class="edit-size" type="text" value="<%- size %>">
      <input class="edit-species" type="text" value="<%- species %>">
      <input type="submit" value="Submit Edits">
    </form>
  </script>

  <!-- BONE TEMPLATES -->
  <script type="text/template" class="bone-template">
    <strong><%- name %></strong>: <%- size %>
    <button data-action="delete-bone">Delete Bone</button>
    <button data-action="edit-bone">Edit Bone</button>
  </script>

  <script type="text/template" class="edit-bone-template">
    <form class=".edit-form">
      <input class="edit-name" type="text" value="<%- name %>">
      <input class="edit-size" type="text" value="<%- size %>">
      <input type="submit" value="Submit Bone">
    </form>
  </script>

  <!-- THE APP -->
  <script type="text/javascript" src="backbone/app.js"></script>

  <!-- MODELS -->
  <script type="text/javascript" src="backbone/models/dino.js"></script>
  <script type="text/javascript" src="backbone/models/bone.js"></script>

  <!-- COLLECTIONS -->
  <script type="text/javascript" src="backbone/collections/dinoCollection.js"></script>
  <script type="text/javascript" src="backbone/collections/boneCollection.js"></script>

  <!-- VIEWS -->
  <script type="text/javascript" src="backbone/views/dinos/dinoView.js"></script>
  <script type="text/javascript" src="backbone/views/dinos/dinoListView.js"></script>
  <script type="text/javascript" src="backbone/views/bones/boneView.js"></script>
  <script type="text/javascript" src="backbone/views/bones/boneListView.js"></script>

</head>
<body>

  <form class="dino-form">
    <input type="text" class="dino-name" placeholder="Enter the dino's name">
    <input type="text" class="dino-species" placeholder="Enter the dino's species">
    <input type="text" class="dino-size" placeholder="Enter the dino's size">
    <input type="submit" value="Add Dino">
  </form>

  <ul class="dino-list">
  </ul>

</body>
</html>
